.top_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.name__Ui {
  font-size: 30px;
  border: none;
}

.clock {
  font-size: 50px;
}
.top_div {
  margin-top: 100px;
}
.topAmid_div {
  margin-top: 100px;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
